################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LuxeLane.Backend/.vs/LuxeLane/FileContentIndex
/LuxeLane.Backend/.vs
/LuxeLane.Backend/src/app/LuxeLane.App.API/obj/project.nuget.cache
/LuxeLane.Backend/src/app/LuxeLane.App.API/obj/project.assets.json
/LuxeLane.Backend/src/app/LuxeLane.App.API/obj/LuxeLane.App.API.csproj.nuget.dgspec.json
/LuxeLane.Backend/src/app/LuxeLane.App.API/obj/LuxeLane.App.API.csproj.nuget.g.props
/LuxeLane.Backend/src/app/LuxeLane.App.API/obj/LuxeLane.App.API.csproj.nuget.g.targets
/LuxeLane.Backend/src/app/LuxeLane.App.API/obj/Debug/net8.0
/LuxeLane.Backend/src/domain/Luxelane.Domain.Entities/bin/Debug/net8.0
/LuxeLane.Backend/src/domain/Luxelane.Domain.Entities/obj
/LuxeLane.Backend/LuxeLane.Domain.Tests.Unit/obj
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Enum/obj
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Migrator/obj
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Persistance/obj
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Repository/obj
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Repository.Injection/obj
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Specification/obj
/LuxeLane.Backend/LuxeLane.Domain.Tests.Unit/bin/Debug/net8.0
/LuxeLane.Backend/src/app/LuxeLane.App.API/bin/Debug/net8.0
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Enum/bin/Debug/net8.0
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Migrator/bin/Debug/net8.0
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Persistance/bin/Debug/net8.0
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Repository/bin/Debug/net8.0
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Repository.Injection/bin/Debug/net8.0
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Specification/bin/Debug/net8.0
/LuxeLane.Backend/src/domain/LuxeLane.Domain.Tests.Unit/obj
/.vs/LuxeLane/v17
