<nav>
    <div class="navbar">
      <div class="logo">
        <a href="#"><img src="../../assets/images/logo.png" alt="Logo"></a>
      </div>
      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Find anything home...">
        <button><i class="fa fa-search"></i></button>
      </div>
      <div class="user-actions">
        <a href="#">Sign In</a>
        <a href="#"><i class="fa fa-shopping-cart"></i></a>
      </div>
    </div>
  </nav>